.task_container{
    position: absolute;
    height: 250px;
    width: 250px;
    left: 50px;
    top: 50px;
    background-color: #A26769;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .8;
}